@let games = games$ | async; @let isGameBeingCreated = isGameBeingCreated$ |
async;

<div class="w-full flex flex-col items-center">
  <div class="my-3 px-3 w-full flex flex-col justify-center gap-3">
    <div class="w-full text-3xl font-bold">Games:</div>
    <div class="flex gap-3 items-center justify-center">
      <button class="w-32" mat-flat-button (click)="onToggleGameCreationMode()">
        {{ isGameBeingCreated ? "Cancel" : "New Game" }}
      </button>
      <button class="w-32 !bg-red-500" mat-flat-button (click)="onDeleteAll()">
        Delete all
      </button>
    </div>
  </div>
  @if(isGameBeingCreated) {
  <form [formGroup]="form" class="px-3 w-full flex flex-col gap-3">
    <mat-form-field>
      <input placeholder="Game name" matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Player 1 name" matInput formControlName="player1" />
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Player 2 name" matInput formControlName="player2" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Game type</mat-label>
      <mat-select formControlName="gameType">
        @for (gameType of GameTypes | keyvalue; track gameType) {
        <mat-option [value]="gameType.value">{{ gameType.value }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input
        placeholder="Number of questions"
        matInput
        formControlName="numberOfQuestions"
        type="number"
      />
    </mat-form-field>
  </form>
  <button
    class="w-44 mb-3"
    mat-flat-button
    (click)="onGameSubmit()"
    [disabled]="!this.form.valid"
  >
    Submit
  </button>
  }
  <div class="px-3 w-full flex flex-col gap-3">
    @for(game of games; track game.id) {
    <div class="flex items-center justify-between gap-3">
      <div
        class="px-3 py-3 w-full flex flex-row justify-between items-center bg-cyan-200 rounded-lg"
        (click)="onGameClick(game.id)"
      >
        <div class="text-lg">
          <span class="font-bold">Game: </span>
          {{ game.name }}, {{ game.gameType }}
        </div>
        <div class="text-base">
          <span class="font-bold">Players: </span>
          <span>{{ game.player1 }}</span>
          and
          <span>{{ game.player2 }}</span>
        </div>
      </div>
      <button
        class="!bg-red-500 text-black"
        mat-flat-button
        (click)="onGameDelete(game.id)"
      >
        Delete
      </button>
    </div>

    }
  </div>
</div>
